.section {
  margin-top: 100px;
  padding: 15px;
}
.section_title {
  font-size: 10px;
  color: #999999;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
}
.section_subtitle {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 45px;
  font-family: "Playfair Display";
  letter-spacing: 5px;
  line-height: 1.8;
}
.skill_box {
  margin-bottom: 20px;
}
.skill_box > p {
  color: #555555;
  margin-bottom: 15px;
}
.skill_grey_box {
  background: #999;
}
.skill_color_box {
  background: blue;
  width: 88%;
  border-radius: 6px;
  height: 6px;
  position: relative;
  color: blue;
}
.skill_color_box > span {
  position: absolute;
  right: 0;
  top: -22px;
  color: inherit;
}
