.section {
  margin-top: 100px;
  padding: 15px;
}

.section_title {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
  color: #260185;
  font-weight: 800;
  letter-spacing: 5px;
  line-height: 2;
}

.section_subtitle {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  color: rgb(123, 0, 4);
  font-family: "Playfair Display", serif;
}
