#hero {
  background-image: url("../image/myyimage.jpeg");
  background-color: #fdd2d9;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 30px;
}
#hero > h1 {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.3;
}
#hero > p {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  margin-bottom: 50px;
  font-weight: 300;
  color: black;
}
#hero > button {
  width: 300px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: normal;
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
  background-color: transparent;
}
