.sidebar_hamburger {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 15px;
  font-size: 24px;
  z-index: 10;
  cursor: pointer;
}
.sidebar_hamburger_translate {
  transform: translateX(300px);
}
.sidebar_content {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  z-index: 5;
  height: 100vh;
  background: #999;
  transition-duration: 500ms;
  transform: translateX(-300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar_content ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar_hamburger_translate + .sidebar_content {
  transform: translateX(0);
}
