.skill_box {
  margin-bottom: 20px;
}
.skill_box > p {
  color: #555555;
  margin-bottom: 15px;
}
.skill_grey_box {
  background: #999;
  border-radius: 6px;
}
.skill_color_box {
  width: 88%;
  background: blue;
  height: 6px;
  border-radius: 6px;
  position: relative;
  color: blue;
}
.skill_color_box > span {
  position: absolute;
  right: 0;
  top: -22px;
}
@media screen and (min-width: 768px) {
  .outer_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 30px;
  }
}
